@-moz-document domain("bitbucket.org") {
:root {
	--background: #2E2E38;
	--primary: DarkSlateGray;
	--secondary: #1E1E24;
	--accent: white;
	--added: #002C00;
	--addedLight: #105C03;
	--deleted: #55130D;
	--deletedLight: #840016;
}

/* DELETED */
.bitkit-diff-wrapper-diff .line-wrapper.type-del, .refract-container .deletion pre.source {
	background-color: var(--deleted) !important;
    color: var(--accent) !important;
}
.bitkit-diff-wrapper-diff .code-component del, .refract-container.word-diff:not(.disable-word-diff) .deletion pre.source del {
    background-color: var(--deletedLight) !important;
    border: 1px solid darkred !important;
    border-radius: 5px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
    color: var(--accent) !important;
}

/* ADDED */
.bitkit-diff-wrapper-diff .line-wrapper.type-add, .refract-container .addition pre.source {
    background-color: var(--added);
    color: var(--accent) !important;
}
.bitkit-diff-wrapper-diff .code-component ins, .refract-container.word-diff:not(.disable-word-diff) .addition pre.source ins {
    background-color: var(--addedLight) !important;
    border: 1px solid darkgreen !important;
    border-radius: 5px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
    color: var(--accent) !important;
}

/* DARK FILE */
/* Header */
.css-1mh9pyv, .bb-udiff .heading {
    background-color: var(--secondary);
    color: var(--accent);
    border: none;
}

/* Body */
.bitkit-diff-wrapper-diff .line-wrapper.type-normal, .source, .skipped-container {
    background-color: var(--background) !important;
    color: Silver !important;
}

/* Show More */
.skipped-container .ellipsis {
	background-color: var(--primary);
	border: 1px solid var(--primary);
	background: var(--primary);
	box-shadow: 0 0 0 2px var(--accent);
	color: var(--accent)
}

/* Gutter */
.bitkit-diff-wrapper-diff .line-numbers, .bitkit-diff-wrapper-diff .show-more-lines-button, .refract-container .gutter, .refract-container .line-numbers-skipped, .skipped-middle::before, .skipped-container::after {
    background-color: var(--primary);
	color: var(--accent);
}
.refract-container .line-numbers::after, .refract-container .line-numbers::before {
	color: var(--accent);
}

/* Divider */
.bitkit-diff-wrapper-diff .chunk-heading-wrapper {
    background-color: var(--secondary) !important;
}

.bitkit-diff-wrapper-diff .chunk-wrapper:not(:last-child) {
    border: none
}

.bitkit-diff-wrapper-diff .line-number-permalink {
    color: var(--accent) !important;
}

.add-comment-button {
    transform: scale(2);
}
}